.shop-hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5px solid var(--line);
}

@media (max-width: 480px) {
  .shop-hero {
    height: 100vh;
  }
}